# Logs - 日志文件
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
build_log.txt
tsc_output*.txt

# Dependencies - 依赖包
node_modules/

# Build and Release - 构建产物
dist/
dist-ssr/
dist-electron/
release/
*.tsbuildinfo

# Environment & Secrets - 环境配置文件
.env
.env.local
.env.*.local
*.local
# .npmrc

# Editor directories and files - 编辑器配置
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files - 系统冗余文件
Thumbs.db
desktop.ini

# Database - 数据库及备份
*.accdb
*.bak