@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles can go here */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* 防止双重滚动条 */
  font-family: 'Inter', sans-serif;
  background-color: #f3f4f6;
  /* gray-100 */
}

#root {
  height: 100%;
}

/* 隐藏所有元素的滚动条 (但在 Chrome/Safari/Webkit 中保留滚动功能) */
*::-webkit-scrollbar {
  display: none;
}

/* 隐藏 Firefox, IE, Edge 的滚动条 */
* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}